[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Sphinx = "*"
sphinx_rtd_theme = "*"
Pygments = "*"

[dev-packages]
sphinx-autobuild = "*"

[requires]
python_version = "3.11"

[scripts]
serve = "sphinx-autobuild . _build/html"
